<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="http://data-trading.com/wp-content/themes/twentyseventeen/assets/img/favicons/apple-touch-icon57.png" type="image/png">
    <link rel="apple-touch-icon" sizes="57x57" href="http://data-trading.com/wp-content/themes/twentyseventeen/assets/img/favicons/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://data-trading.com/wp-content/themes/twentyseventeen/assets/img/favicons/apple-touch-icon60.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://data-trading.com/wp-content/themes/twentyseventeen/assets/img/favicons/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://data-trading.com/wp-content/themes/twentyseventeen/assets/img/favicons/apple-touch-icon120.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://data-trading.com/wp-content/themes/twentyseventeen/assets/img/favicons/apple-touch-icon180.png">

    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])


   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

    @Html.Raw(ViewData["Styles"])

  </head>
  <body>
    @RenderBody()

    <!-- *** NOTE *** Remove this and the signalr script include below
             - if you're NOT going to use SignalR -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="~/assets/hammer.min.js"></script>
    <script src="~/assets/qrcode.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>

    <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])

    @RenderSection("scripts", required: false)
  </body>
</html>
